﻿@import './../../styles/global-variables.scss';

.about {
	width: 100%;
	height: 91%;

	& img {
		text-align: center;
		width: 100%;
	}

	& .about-container {

		& .header {
			padding: 37px 0 19px 0px;
			border-bottom: solid 1px #e5e5e5;
			margin: 0 auto;
			width: 70vw;

			& .content-header-text {
				color: $ninjaGreen;
				text-transform: uppercase;
				font-size: 1.3em;
				font-family: $oswald-fontFamily;
				letter-spacing: .8px;
			}
		}

		& .about-body {
			margin: 0px auto;
			color: #363636;
			font-family: Arial;
			padding: 22px 0 100px 2px;
			width: 70vw;
		}

		& a {
			color: $ninjaGreen;
			text-decoration: none;

			&:hover {
				color: #71e03a;
			}
		}
	}
}