﻿@model KInternational.Models.vmHome
@using Newtonsoft.Json;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - KInternational</title>
	<base href="~/" />

	<link rel="preload" href="/fonts/AlternateGothicNo1-webfont.woff" type="font/woff" as="font" crossorigin="anonymous">
	<link rel="preload" href="/fonts/AlternateGothicNo2-webfont.woff" type="font/woff" as="font" crossorigin="anonymous">
	<link rel="preload" href="/fonts/AlternateGothicNo3-webfont.woff" type="font/woff" as="font" crossorigin="anonymous">

	<link rel="dns-prefetch preconnect" href="https://www.kawasaki-la.com/" crossorigin="anonymous">

	<link rel="stylesheet" href="~/scss/flexboxgrid.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/scss/fonts.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/scss/background-url-styles.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/scss/modal.min.css" asp-append-version="true" />

</head>
<body>
	@RenderBody()

	<script type="text/javascript">

		var bingMapApiKey = @Html.Raw(JsonConvert.SerializeObject(Model.BingMapApiKey));

	</script>
	<script src="~/dist/vendor.js" asp-append-version="true"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
