﻿@import './../../../styles/global-variables.scss';

.product-photo-container {
	margin: 0;
	background-color: $black;

	& .photo-gallery-container {
		max-width: 100%;
	}

	& .main-photo {
		margin: ($dp-factor-rem * 2) 0 0 0;
		padding: 0;
		text-align: center;

		& img {
			width: auto;
			height: 360px;
		}
	}
}

.photo-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
	margin: 0.3rem;
	padding: 0;
}

.photo-list {
	flex-wrap: nowrap !important;
	transform: translateZ(0);

	& img {
		cursor: pointer;
		opacity: .6;
		border: 1px solid #000;
	}

	& .active {
		border: 1px solid $ninjaGreen;

		& img {
			opacity: 1;
		}
	}
}

@media only screen and (max-width: 47.99em) {

	.product-photo-container {

		& .photo-gallery-container {
			margin: 0;
			max-width: 100%;
			width: 100%;
		}

		& .main-photo {
			max-width: 100%;

			& img {
				max-width: 100%;
				height: auto;
			}
		}
	}

}

@media only screen and (min-width: 48em) and (max-width: 61em) {

}

@media only screen and (min-width: 62em) and (max-width: 74em) {
}