﻿@import './../../styles/global-variables.scss';

.tech-type {

	&:hover {
		color: $black;
	}

	&.active {
		color: $mineShaft;
	}
}

.technology-container {
	background: #dee0df;
	background: -moz-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dee0df),color-stop(0%,#e4e6e5),color-stop(0%,#e8e8e8),color-stop(20%,#e9e9e9),color-stop(27%,#fafafa),color-stop(29%,#fff),color-stop(100%,#fff));
	background: -webkit-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: -o-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: -ms-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: linear-gradient(to bottom,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee0df',endColorstr='#ffffff',GradientType=0);
}

.technology-listing-container {
	display: flex;
	padding: 0;
	list-style: none;
	-webkit-flex-flow: row wrap;
	color: #363636;
	font-family: Arial;
	padding: calc(#{$dp-factor } * 3) 0 calc(#{$dp-factor } * 5) calc(#{$dp-factor } * 5);
	max-width: 100%;
}

.tech-listing-header {
	max-width: 100%;

	& .tech-mgmt-container {
		margin: calc(#{$dp-factor } * 2) 0 0 calc(#{$dp-factor } * 5);
	}

	& .tech-mgmt-tech {
		color: $ninjaGreen;
		font-family: $oswald-fontFamily;
		font-size: calc(#{$dp-factor } * 3);
		letter-spacing: 0.8px;
		line-height: calc(#{$dp-factor } * 4);
		text-align: left;
	}

	& .tech-mgmt-txt {
		color: $mineShaft;
		font-family: $arial-fontFamily;
		font-size: calc((#{$dp-factor } * 2) - (#{$dp-factor } / 4));
		letter-spacing: 0.8px;
		line-height: calc((#{$dp-factor } * 2) + (#{$dp-factor } / 2));
		text-align: left;
	}
}

.technology-listing {
	padding: calc(8px * 3);
}

.technology-header {

	& span {
		font-family: $oswald-fontFamily;
		color: $harlequinGreen;
		font-size: calc(#{$dp-factor } * 1.8);
		margin: 0;
		font-weight: normal;
		text-transform: uppercase;
		line-height: calc(#{$dp-factor } * 3);
		min-height: calc(#{$dp-factor } * 6);
		vertical-align: middle;
		display: table-cell;
	}

	& .technology-header-img {
		width: 71px;
		height: 70px;
		object-fit: none;
		object-position: -128px 0;
	}
}

.technology-item {
	background: linear-gradient(to top,#dee0df 0%,#e4e6e5 18%,#f7f7f7 49%,#f9f9f9 57%,#fefefe 66%,#fff 100%) repeat scroll 0 0 rgba(0,0,0,0);
	text-align: left;

	& .technology-description {
		margin-top: calc(#{$dp-factor } * 1);
		font-size: calc(#{$dp-factor } * 2);
		font-family: $arial-fontFamily;
		letter-spacing: 0;
	}
}

/* technnology modal carousel */
.tech-slide {
	display: flex;
	flex: 0 0 56.8rem;
	margin-right: ($dp-factor * 2.5);
	position: relative;

	.feature-content {
		flex: 0 0 19rem;

		.feature-content-header {
			display: flex;
			padding: ($dp-factor * 1.5) ($dp-factor * 1.5) ($dp-factor * 1.5) ($dp-factor / 2);

			.feature-content-icon {
				margin-right: 12px;
				width: 72px;
				height: 70px;
				background-position: top right;
			}

			.feature-content-title {
				vertical-align: top;
				font-size: ($dp-factor-rem * 2.5);
				color: #fff;
				line-height: 1.3;
				overflow: hidden;
				text-align: left;
				width: 70%;
			}
		}

		.tech-feature-content-green-line {
			background-color: $limeade;
			height: 1px;
			overflow: hidden;
		}

		.feature-content-description {
			font-family: $arial-fontFamily;
			font-size: ($dp-factor-rem * 1.5);
			text-align: left;
			padding-top: ($dp-factor * 1.5);
			overflow-y: scroll;
			line-height: 18px;
			max-height: ($dp-factor * 50);

			& div {
				margin-right: $dp-factor;
			}
		}
	}

	.media-content {
		.media-display-container {
			height: 434px;
			margin-left: ($dp-factor / 2);

			img {
				height: 434px;
			}

			video {
				height: 434px;
			}
		}

		.media-thumb-container {
			text-align: left;

			.media-thumb-item {
				display: inline-block;
				width: ($dp-factor * 11.5);
				height: ($dp-factor * 7.5);
				cursor: pointer;

				&:first-child {
					margin-left: ($dp-factor / 2);
				}

				&.active {
					border: 1px solid $ninjaGreen;
				}

				img {
					width: ($dp-factor * 11.5);
					height: ($dp-factor * 7.5);
				}
			}
		}
	}
}
