﻿@import './../../styles/global-variables.scss';

header.app-bar {

	z-index: 1201 !important;
	transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

header.app-bar-shift {
	width: calc(100% - 201px);
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

button.app-menu-icon {
	margin-left: $dp-factor;
	margin-right: ($dp-factor * 4);

	&.hide {
		display: none;
	}
}

.app-menu-toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 $dp-factor;
	min-height: 64px;
}

div.drawer-paper {
	position: relative;
	white-space: nowrap;
	width: ($dp-factor * 25);
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	height: 100vh;
}

div.drawer-paper-close {
	overflow-x: hidden;
	transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	width: ($dp-factor * 9);
	height: 100vh;
}

a.drawer-menu-list-item {
	padding: ($dp-factor / 2) 0;

	& .drawer-icon {
		border-radius: 0;
	}
}

.header-home-link {
	color: $white;
	text-decoration: none;
}