﻿@import './../../../styles/global-variables.scss';

.product-video-container {
	margin: 0;
	background-color: $black;

	& .main-video {
		margin: ($dp-factor-rem * 2) 0 0 0;
		padding: 0;
		text-align: center;

		& video {
			width: auto;
			height: 360px;
		}
	}
}

.video-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
}

.video-list {
	flex-wrap: nowrap !important;
	transform: translateZ(0);

	& img {
		cursor: pointer;
		opacity: .6;
		border: 1px solid #000;
	}

	& .active {
		border: 1px solid $ninjaGreen;

		& img {
			opacity: 1;
		}
	}
}

@media only screen and (max-width: 47.99em) {

	.product-video-container {

		& .main-video {
			max-width: 100%;

			& video {
				max-width: 100%;
				height: auto;
			}
		}
	}
	
}

@media only screen and (min-width: 48em) and (max-width: 61em) {
}

@media only screen and (min-width: 62em) and (max-width: 74em) {
}