﻿@import './../../styles/global-variables.scss';

.event-listing-container {
	display: flex;
	list-style: none;
	-webkit-flex-flow: row wrap;
	color: #363636;
	font-family: Arial;
	padding: calc(#{$dp-factor } * 3) 0 calc(#{$dp-factor } * 12) calc(#{$dp-factor } * 3);
	max-width: 100%;
}

.event-listing {
	margin-bottom: calc(#{$dp-factor } * 3);

	& .event-card {
		min-height: ($dp-factor-rem * 56);
	}

	& .event-image {
		height: calc(#{$dp-factor } * 30);
	}

	& .event-title {
		color: $ninjaGreen;
		text-transform: uppercase;
		line-height: 1.2em;
		font-family: $oswald-fontFamily;
		font-size: 1.1em;
		letter-spacing: 0.8px;
	}

	& .event-description {
		color: $mineShaft;
		line-height: 1.2em;
		font-family: Arial;
		margin-top: 6px;
		font-size: 0.85em;
		min-height: calc(#{$dp-factor } * 8);
	}
}