﻿@import './../../styles/global-variables.scss';

.carousel .thumb img {
	width: 100% !important;
	height: 100% !important;
}

.carousel .slide img {
	min-height: ($dp-factor-vh * 11);
	width: auto;
}

.carousel .control-dots .dot {
	background: $ninjaGreen !important;
}

.legend {
	color: $white;

	& h2, & h3 {
		display: inline-block;
	}

	& h2 {
		text-transform: uppercase;
		font-size: ($dp-factor-rem * 3);
		margin: 0;
	}

	& h3 {
		font-weight: 700;
		font-size: ($dp-factor-rem * 2);
		margin: $dp-factor-rem;
		vertical-align: top;
	}

	& a {
		font-family: $oswald-fontFamily;
		font-size: ($dp-factor-rem * 1.5);
		color: $delta;

		&:hover {
			color: $white;
		}
	}
}