﻿@import './../../styles/global-variables.scss';

.distributors-container {
	/*padding: calc(#{$dp-factor } * 3) 0 calc(#{$dp-factor } * 7) calc(#{$dp-factor } * 1 / 4);*/
}

.distributors-listing {
	box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
	background: rgb(255,255,255);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 4%,rgba(249,251,250,1) 7%,rgba(250,250,252,1) 8%,rgba(248,250,249,1) 8%,rgba(248,249,251,1) 9%,rgba(247,249,248,1) 9%,rgba(247,248,250,1) 10%,rgba(246,248,247,1) 10%,rgba(246,247,249,1) 12%,rgba(244,245,247,1) 12%,rgba(243,244,246,1) 16%,rgba(240,244,245,1) 17%,rgba(243,244,246,1) 32%,rgba(249,251,250,1) 53%,rgba(250,250,250,1) 80%,rgba(254,254,254,1) 100%);
	padding-top: calc(#{$dp-factor } * 3);
}

.distributors-listing-container {
	max-width: 100%;
}

.distributors-contact-info {
	box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
	background: rgb(255,255,255);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 4%,rgba(249,251,250,1) 7%,rgba(250,250,252,1) 8%,rgba(248,250,249,1) 8%,rgba(248,249,251,1) 9%,rgba(247,249,248,1) 9%,rgba(247,248,250,1) 10%,rgba(246,248,247,1) 10%,rgba(246,247,249,1) 12%,rgba(244,245,247,1) 12%,rgba(243,244,246,1) 16%,rgba(240,244,245,1) 17%,rgba(243,244,246,1) 32%,rgba(249,251,250,1) 53%,rgba(250,250,250,1) 80%,rgba(254,254,254,1) 100%);
	padding-top: calc(#{$dp-factor } * 3);
}

.distributor-title {
	padding-left: calc(#{$dp-factor } * 5);

	& .distributor-title-header {
		font-family: $oswald-fontFamily;
		font-size: calc(#{$dp-factor-em } * 2);
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
		margin: calc(#{$dp-factor-rem } / 2) 0 $dp-factor 0;
		margin-bottom: $dp-factor-rem;
		letter-spacing: 0.8px;
		font-weight: bold;
	}

	& .distributor-title-description {
		font-family: $oswald-fontFamily;
		font-size: calc(#{$dp-factor-rem } * 1.8);
		text-rendering: optimizeLegibility;
	}
}

.distributor-countries-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	columns: 2;
	list-style-type: none;
	padding-left: calc(#{$dp-factor } * 5);
	height: calc(#{$dp-factor-em } * 72);

	& a {
		display: inline-block;
		margin: calc(#{$dp-factor } * 1 / 2) calc(#{$dp-factor } * 1 / 2) calc((#{$dp-factor } * 2) - (#{$dp-factor } / 2)) calc(#{$dp-factor } * 1 / 2);
		height: calc(#{$dp-factor } * 3.8);
		width: calc(#{$dp-factor } * 14);
		text-indent: -9999px;
	}
}

.distributor-info {
	line-height: calc((#{$dp-factor } * 2) + (#{$dp-factor } / 2));
	padding-bottom: calc(#{$dp-factor } * 4);
	border-bottom: solid 1px $iron;

	& .distributor-offical-header {
		font-family: $oswald-fontFamily;
		font-size: calc((#{$dp-factor } * 2) - (#{$dp-factor } / 2));
		font-weight: 700;
		margin: calc(#{$dp-factor } / 2) 0 calc(#{$dp-factor } * 1) 0;
	}

	& .distributor-offical-info {
		font-family: $oswald-fontFamily;
		font-size: calc((#{$dp-factor } * 2) - (#{$dp-factor } / 4));
	}
}

.distributors-map {
	min-height: calc(#{$dp-factor-em } * 80);
}

.map-image-container {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0px -75px;
}

.distributor-social-sites {

	& a {
		padding-left: calc(#{$dp-factor } * 3);
		margin: calc(#{$dp-factor } * 1) calc(#{$dp-factor } * 3) 0 0;
		background-position: 0 0;
		display: inline-block;
		color: $mineShaft;
		text-decoration: none;

		&:hover {
			color: $ninjaGreen;
		}
	}

	.distributor-contact {

		&:hover {
			background-position: 0px -20px;
		}
	}

	.distributor-website {

		&:hover {
			background-position: 0px -20px;
		}
	}
}

.distributor-countries-list a {

	&.argentina {
		background-position: 0px 0px;

		&:hover, &.selected {
			background-position: 0px -90px;
		}
	}

	&.bolivia {
		background-position: 0px -60px;

		&:hover, &.selected {
			background-position: 0px -150px;
		}
	}

	&.bermuda {
		background-position: 0px -30px;

		&:hover, &.selected {
			background-position: 0px -120px;
		}
	}

	&.chile {
		background-position: -150px 0px;

		&:hover, &.selected {
			background-position: -150px -90px;
		}
	}

	&.colombia {
		background-position: -150px -30px;

		&:hover, &.selected {
			background-position: -150px -120px;
		}
	}

	&.costa-rica {
		background-position: -150px -60px;

		&:hover, &.selected {
			background-position: -150px -150px;
		}
	}

	&.dominican-republic {
		background-position: -900px -0px;

		&:hover, &.selected {
			background-position: -900px -90px;
		}
	}

	&.ecuador {
		background-position: -300px 0px;

		&:hover, &.selected {
			background-position: -300px -90px;
		}
	}

	&.el-salvador {
		background-position: -300px -30px;

		&:hover, &.selected {
			background-position: -300px -120px;
		}
	}

	&.french-guiana {
		background-position: -300px -60px;

		&:hover, &.selected {
			background-position: -300px -150px;
		}
	}

	&.guatemala {
		background-position: -450px -30px;

		&:hover, &.selected {
			background-position: -450px -120px;
		}
	}

	&.guam {
		background-position: -450px -0px;

		&:hover, &.selected {
			background-position: -450px -90px;
		}
	}

	&.honduras {
		background-position: -450px -60px;

		&:hover, &.selected {
			background-position: -450px -150px;
		}
	}

	&.mexico {
		background-position: -600px -0px;

		&:hover, &.selected {
			background-position: -600px -90px;
		}
	}

	&.nicaragua {
		background-position: -600px -30px;

		&:hover, &.selected {
			background-position: -600px -120px;
		}
	}

	&.panama {
		background-position: -600px -60px;

		&:hover, &.selected {
			background-position: -600px -150px;
		}
	}

	&.paraguay {
		background-position: -750px -0px;

		&:hover, &.selected {
			background-position: -750px -90px;
		}
	}

	&.peru {
		background-position: -750px -30px;

		&:hover, &.selected {
			background-position: -750px -120px;
		}
	}

	&.puerto-rico {
		background-position: -750px -60px;

		&:hover, &.selected {
			background-position: -750px -150px;
		}
	}

	&.uruguay {
		background-position: -900px -30px;

		&:hover, &.selected {
			background-position: -900px -120px;
		}
	}

	&.venezuela {
		background-position: -900px -60px;

		&:hover, &.selected {
			background-position: -900px -150px;
		}
	}
}

.dealer-info {
	line-height: calc((#{$dp-factor } * 2) + (#{$dp-factor } / 2));
	padding-top: calc(#{$dp-factor } * 1);

	& .dealer-offical-header {
		margin-bottom: calc(#{$dp-factor } * 2);
	}

	& .dealer-offical-info {
		font-family: $oswald-fontFamily;
		margin: calc(#{$dp-factor } / 2) 0 calc(#{$dp-factor } * 1) 0;
		font-size: calc((#{$dp-factor } * 2) - (#{$dp-factor } / 4));
		overflow-y: auto;
		overflow-x: visible;
		height: calc(#{$dp-factor-em } * 52);
		width: 100%;
	}

	& .dealers-container {
		padding: calc(#{$dp-factor } * 2) calc(#{$dp-factor } * 3) calc(#{$dp-factor } * 1) calc(#{$dp-factor } * 3);
	}

	& .dealer-name {
		font-weight: 700;
	}
}

.dealer-lat-long {
	svg {
		position: relative;
		top: ($dp-factor / 2);
		margin-right: ($dp-factor / 2);
	}
}

.distributor-map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	& .modal-close-button {
		fill: $black !important;
		z-index: 9;
		position: absolute;
		top: ($dp-factor-rem * 10);
		left: 50vw;
	}
}

@media only screen and (max-width: 47em) {

	.distributors-map {
		visibility: hidden;
	}
}

@media only screen and (min-width: 48em) and (max-width: 61em) {

	.distributor-title, .distributor-countries-list {
		padding-left: calc(8px * 2);
	}

	.map-image-container {
		background-position: 0px calc(#{$dp-factor-em } * 8);
		background-size: 100% 100%;
	}
}

@media only screen and (min-width: 62em) and (max-width: 74em) {

	.distributor-title, .distributor-countries-list {
		padding-left: calc(8px * 2);
	}
}

@media only screen and (min-width: 90em) {

	.map-image-container {
		background-size: cover;
	}
}