﻿@import './../../styles/global-variables.scss';

.distro-contact-container {
	margin: 0 0 calc(8px * 4) 0;

	& .contact-form-header {
		margin-top: calc(#{$dp-factor } * 5);

		& .contact-header-info {
			font-family: $oswald-fontFamily;
			font-size: calc(#{$dp-factor } * 3);
			color: $ninjaGreen;
			font-weight: bold;
			text-transform: uppercase;
			padding: calc(#{$dp-factor } * 2) 0;
		}

		.contact-info-name {
			font-weight: bold;
		}

		& .contact-info {
			font-family: $arial-fontFamily;
			font-size: calc((#{$dp-factor } * 2) - (#{$dp-factor } / 2));
			color: $boulder;
			letter-spacing: 0.8px;
		}

		.contact-info-country {
			font-size: calc((#{$dp-factor } * 2) - (#{$dp-factor } / 4));
			margin-bottom: calc((#{$dp-factor } * 3) - (#{$dp-factor } / 2));
		}
	}
}

.contact-form-container {
	margin-bottom: calc(8px * 7);

	& form {
		display: grid;
	}

	& > div {
		width: 100%;
	}

	& .long-inputtype {
		& > div {
			width: 50%;
		}
	}

	& .short-inputtype {
		& > div {
			width: 33%;
		}
	}

	& .select-input {
		margin: calc(#{$dp-factor } * 1) 0 calc(#{$dp-factor } * 1) 0;

		& > div {
			width: 25%;
		}
	}

	.switch-container {
		display: block;

		& .interest-kawi-product-container {
			margin: calc(#{$dp-factor } * 4) 0 calc(#{$dp-factor } * 1) 0;
		}

		& .interest-kawi-product {
			@extend %material-ui-style-label;
			text-transform: capitalize;
		}
	}

	.submit-privacy-container {
		margin: calc(#{$dp-factor } * 4) 0 calc(#{$dp-factor } * 1) 0;
		width: 50%;

		& .privacy-legal-lbl {
			@extend %material-ui-style-label;
		}
	}

	.send-button {
		background-color: $ninjaGreen;
		color: $white;
		margin-top: calc(#{$dp-factor } * 2);

		&:hover {
			background-color: $atlantis-light;
		}
	}

	.validation-error {
		color: red;
		margin-top: $dp-factor-rem;
	}
}

@media only screen and (max-width: 61em) {

	.contact-form-container {
		margin-bottom: calc(8px * 10);

		& > div {
			width: 100%;
		}

		& .long-inputtype {
			& > div {
				width: 100%;
			}
		}

		& .short-inputtype {
			& > div {
				width: 100%;
			}
		}

		& .select-input {

			& > div {
				width: 100%;
			}
		}
	}
}
