﻿@import './../../../styles/global-variables.scss';

.event-sub-nav {
	margin: 0;
}

.event-type-listing {
	display: flex;

	& li {

		list-style: none;
		line-height: ($dp-factor * 4);

		&:last-child {
			&.country-dropdown-events {
				padding-left: ($dp-factor * 15);
			}
		}

	}
}

.event-type {
	text-decoration: none;
	font-family: $oswald-fontFamily;
	font-weight: bold;
	color: $bud;
	margin: calc(#{$dp-factor } * 4) 0 0 calc(#{$dp-factor } * 3);
	font-size: ($dp-factor * 1.5);
	text-decoration: none;
	letter-spacing: .8px;

	&.all-events {
		font-size: ($dp-factor * 2);
	}

	&.active {
		color: $mineShaft;
	}
}

.select-menu-item {
	& > div > div {
		padding-left: ($dp-factor * 2);
	}
}

@media only screen and (max-width: 74em) {

	.event-type-listing {

		& li {
			
			&:last-child {
				&.country-dropdown-events {
					padding-left: $dp-factor;
				}
			}
		}
	}
}