﻿@import './../../../styles/global-variables.scss';

.product-container {
	min-width: 1200px;
	height: 100%;
	min-height: 120vh;
	margin: 0;
	position: relative;
}

.product-options {
	height: 56vh;
	margin-left: 2vw;
	z-index: 9;

	& h1 {
		white-space: nowrap;
		margin-top: 8vh;
	}
}

.product-info-tabs {
	font-family: $oswald-fontFamily;
	@include property-size-calc('font-size', 2);
	padding: 0;
	place-content: center space-around;

	& li {
		padding: 0 2px 2px 0;
		list-style: none;
		width: 50%;
		padding: calc(#{$dp-factor} * 1) 0 calc(#{$dp-factor} * 1) calc(#{$dp-factor} * 2);
		margin: calc(#{$dp-factor} * 1) 0;
		background: linear-gradient(to bottom,#f0f0f0 36%,#fff 72%);
		font-family: $oswald-fontFamily;
		opacity: 0.8;

		& a {
			text-decoration: none;
			color: $mineShaft;
		}

		&:first-child a {
			color: $ninjaGreen;
		}
	}
}

.color-photo-container {

	@include property-size-calc('max-height', 118);
	position: relative;
	z-index: 1;

	& img {
		@include property-size-calc('max-width', 100);
		position: absolute;
		@include property-size-calc('left', -14);
	}
}

.spec-container {
	z-index: 2;

	& .spec-headline {
		font-family: $oswald-fontFamily;
		border-bottom: 1px solid $ninjaGreen;
		@include property-size-calc('font-size', 2);
		text-transform: uppercase;
		margin: 8vh 0 4vh 0;
		padding-bottom: 5px;
		color: $mineShaft;
	}

	& .spec-item {
		background: linear-gradient(to bottom,#f0f0f0 36%,#fff 72%);
		opacity: 0.8;
		margin-top: 4vh;
		height: auto;
		z-index: 2;

		& .spec-title-header {
			padding-bottom: 0;
		}
	}
}

.color-card {
	& .color-content {
		text-align: right;
		padding-right: 8px;
	}

	& .color-content:first-child {
		flex: 0.97;
	}

	& .color-content:last-child {
		padding-right: 0px;
	}

	& .color-card-title {
		padding-bottom: 0px;

		& span {
			font-family: $oswald-fontFamily;
			color: $mineShaft;
			font-size: 0.8rem;
			text-transform: uppercase;
		}
	}

	& .color-card-content {
		padding-top: 0px;

		& .color-name-content {
			text-align: right;
		}

		& .color-name-content:first-child {
			flex: 0.97;
		}
	}

	& .active-color-name {
		font-family: $oswald-fontFamily;
		font-size: 0.8rem;
		color: $mineShaft;
		text-transform: uppercase;
	}

	& .swatch-container {

		@include property-size-calc('margin-bottom', 1);
		cursor: pointer;

		img {
			border: 2px solid $ninjaGreen;
			border-radius: 20px;
		}
	}

	.snack-close {
		color: $white;
	}
}

@media only screen and (max-width: 47.99em) {

	.product-container {
		height: auto;
		min-width: 100%;
		overflow-x: hidden;
	}

	.color-photo-container {
		order: 1;

		& img {
			position: static;
			left: 0;
			max-width: 100%;
		}
	}

	.product-info-tabs {
		place-content: normal;
	}

	.product-options {
		order: 2;
		height: auto;
	}

	.spec-container {
		order: 3;
	}
}

@media only screen and (min-width: 48em) and (max-width: 61em) {

	.product-container {
		height: auto;
		min-width: 100%;
		overflow-x: hidden;
	}

	.color-photo-container {
		order: 1;

		& img {
			position: static;
			left: 0;
			max-width: 100%;
		}
	}

	.product-info-tabs {
		place-content: normal;
	}

	.product-options {
		order: 2;
		height: auto;
	}

	.spec-container {
		order: 3;
	}

}

@media only screen and (min-width: 62em) and (max-width: 74em) {

	.product-container {
		height: auto;
		min-width: 100%;
		overflow-x: hidden;
	}

	.color-photo-container {
		order: 1;

		& img {
			position: static;
			left: 0;
			max-width: 100%;
		}
	}

	.product-info-tabs {
		place-content: normal;
	}

	.product-options {
		order: 2;
		height: auto;
	}

	.spec-container {
		order: 3;
	}

}