﻿@import './../../styles/global-variables.scss';

.category-name-section-header {
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	margin-bottom: 10px;
	border-bottom: 1px solid $silver;
	text-align: center;
}

.category-page-container {
	flex-grow: 1;
	width: 100%;
	margin-top: calc(#{$dp-factor } * 3);
	background-color: $white;

	& .category-sub-nav {
	}
}

.category-product-list-container {
	margin: auto;

	& .category-product-list {
		display: flex;
		padding: 0;
		list-style: none;
		flex-flow: row wrap;
		margin: 0 0 0 $dp-factor;

		& li {
			margin: 0;
		}

		& a {
			text-decoration: none;
		}
	}
}

.category-product-info {
	font-family: $oswald-fontFamily;
	color: $mineShaft;
	font-size: 0.85em;
	text-align: center;
}
