﻿@import './../../../styles/global-variables.scss';

.event-landing-container {

	& .header {
		padding: ($dp-factor * 2) 0;
		border-bottom: solid 1px #e5e5e5;
		margin: 0 auto;

		& .content-header-text {
			color: $ninjaGreen;
			text-transform: uppercase;
			font-size: ($dp-factor-rem * 3);
			font-family: $oswald-fontFamily;
			letter-spacing: .8px;
		}
	}

	& img {
		max-width: calc(#{$dp-factor-vw } * 11);
		height: auto;
		display: block;
	}
}

.event-landing-body {
	margin: 0px auto;
	color: #363636;
	font-family: Arial;
	padding: ($dp-factor * 3) 0;
}

@media only screen and (min-width: 75em) {

	.global-event-container {
		margin: 0 !important;
	}

	.regional-event-container {
		margin: 0 !important;
	}
}

@media only screen and (min-width: 62em) {

	.global-event-container {
		margin: 0 !important;
	}

	.regional-event-container {
		margin: 0 !important;
	}
}