﻿.innovations {
  width: 100%;
  background: url("../images/innovations_bkgd.jpg"); }

.inno-video-link {
  background: transparent url("../images/KHI_CTA.png") no-repeat top left;
  background-position: 0 -71px;
  height: 60px;
  width: 422px; }
  .inno-video-link:hover {
    background-position: 0 0; }
  .inno-video-link:hover span {
    color: #3c0; }

.distributor-countries-list a {
  background: url("../images/flags_english.png") no-repeat; }

.map-image-container {
  background-image: url("../images/maps/all.jpg"); }
  .map-image-container.argentina {
    background-image: url("../images/maps/argentina.jpg"); }
  .map-image-container.bolivia {
    background-image: url("../images/maps/bolivia.jpg"); }
  .map-image-container.bermuda {
    background-image: url("../images/maps/bermuda.jpg"); }
  .map-image-container.chile {
    background-image: url("../images/maps/chile.jpg"); }
  .map-image-container.colombia {
    background-image: url("../images/maps/colombia.jpg"); }
  .map-image-container.costa-rica {
    background-image: url("../images/maps/costa_rica.jpg"); }
  .map-image-container.dominican-republic {
    background-image: url("../images/maps/dominican_republic.jpg"); }
  .map-image-container.ecuador {
    background-image: url("../images/maps/ecuador.jpg"); }
  .map-image-container.el-salvador {
    background-image: url("../images/maps/el_salvador.jpg"); }
  .map-image-container.french-guiana {
    background-image: url("../images/maps/french_guiana.jpg"); }
  .map-image-container.guatemala {
    background-image: url("../images/maps/guatemala.jpg"); }
  .map-image-container.guam {
    background-image: url("../images/maps/guam.jpg"); }
  .map-image-container.honduras {
    background-image: url("../images/maps/honduras.jpg"); }
  .map-image-container.mexico {
    background-image: url("../images/maps/mexico.jpg"); }
  .map-image-container.nicaragua {
    background-image: url("../images/maps/nicaragua.jpg"); }
  .map-image-container.panama {
    background-image: url("../images/maps/panama.jpg"); }
  .map-image-container.paraguay {
    background-image: url("../images/maps/paraguay.jpg"); }
  .map-image-container.peru {
    background-image: url("../images/maps/peru.jpg"); }
  .map-image-container.puerto-rico {
    background-image: url("../images/maps/puerto_rico.jpg"); }
  .map-image-container.uruguay {
    background-image: url("../images/maps/uruguay.jpg"); }
  .map-image-container.venezuela {
    background-image: url("../images/maps/venezuela.jpg"); }

.distributor-contact {
  background: url("../images/maps/disticon_contact.png") no-repeat; }

.distributor-website {
  background: url("../images/maps/disticon_website.png") no-repeat; }

@media screen and (min-width: 100em) {
  .product-container {
    background: url("../images/showroom_blank.jpg") no-repeat;
    background-position-x: center;
    background-position-y: -25px;
    background-size: 2100px 1110px;
    width: 100%; } }

@media screen and (max-width: 99.938em) {
  .product-container {
    background: url("../images/showroom_blank.jpg") no-repeat;
    background-position-x: center;
    background-position-y: -120px;
    background-size: 1700px 917px;
    width: 100%; } }

@media screen and (max-width: 87.438em) {
  .product-container {
    background: url("../images/showroom_blank.jpg") no-repeat;
    background-position-x: center;
    background-position-y: -160px;
    background-size: 1700px 917px;
    width: 100%; } }
