﻿@import "../../ClientApp/styles/global-variables.scss";

.innovations {
	width: 100%;
	background: url('./../images/innovations_bkgd.jpg');
}

.inno-video-link {
	background: transparent url('./../images/KHI_CTA.png') no-repeat top left;
	background-position: 0 -71px;
	height: 60px;
	width: 422px;

	&:hover {
		background-position: 0 0;
	}

	&:hover span {
		color: $harlequinGreen;
	}
}

.distributor-countries-list {

	& a {
		background: url('./../images/flags_english.png') no-repeat;
	}
}

.map-image-container {
	background-image: url('./../images/maps/all.jpg');

	&.argentina {
		background-image: url('./../images/maps/argentina.jpg');
	}

	&.bolivia {
		background-image: url('./../images/maps/bolivia.jpg');
	}

	&.bermuda {
		background-image: url('./../images/maps/bermuda.jpg');
	}

	&.chile {
		background-image: url('./../images/maps/chile.jpg');
	}

	&.colombia {
		background-image: url('./../images/maps/colombia.jpg');
	}

	&.costa-rica {
		background-image: url('./../images/maps/costa_rica.jpg');
	}

	&.dominican-republic {
		background-image: url('./../images/maps/dominican_republic.jpg');
	}

	&.ecuador {
		background-image: url('./../images/maps/ecuador.jpg');
	}

	&.el-salvador {
		background-image: url('./../images/maps/el_salvador.jpg');
	}

	&.french-guiana {
		background-image: url('./../images/maps/french_guiana.jpg');
	}

	&.guatemala {
		background-image: url('./../images/maps/guatemala.jpg');
	}

	&.guam {
		background-image: url('./../images/maps/guam.jpg');
	}

	&.honduras {
		background-image: url('./../images/maps/honduras.jpg');
	}

	&.mexico {
		background-image: url('./../images/maps/mexico.jpg');
	}

	&.nicaragua {
		background-image: url('./../images/maps/nicaragua.jpg');
	}

	&.panama {
		background-image: url('./../images/maps/panama.jpg');
	}

	&.paraguay {
		background-image: url('./../images/maps/paraguay.jpg');
	}

	&.peru {
		background-image: url('./../images/maps/peru.jpg');
	}

	&.puerto-rico {
		background-image: url('./../images/maps/puerto_rico.jpg');
	}

	&.uruguay {
		background-image: url('./../images/maps/uruguay.jpg');
	}

	&.venezuela {
		background-image: url('./../images/maps/venezuela.jpg');
	}
}

.distributor-contact {
	background: url('./../images/maps/disticon_contact.png') no-repeat;
}

.distributor-website {
	background: url('./../images/maps/disticon_website.png') no-repeat;
}

@media screen and (min-width: 100em) {
	.product-container {
		background: url("./../images/showroom_blank.jpg") no-repeat;
		background-position-x: center;
		background-position-y: -25px;
		background-size: 2100px 1110px;
		width: 100%;
	}
}

@media screen and (max-width: 99.938em) {
	.product-container {
		background: url("./../images/showroom_blank.jpg") no-repeat;
		background-position-x: center;
		background-position-y: -120px;
		background-size: 1700px 917px;
		width: 100%;
	}
}

@media screen and (max-width: 87.438em) {
	.product-container {
		background: url("./../images/showroom_blank.jpg") no-repeat;
		background-position-x: center;
		background-position-y: -160px;
		background-size: 1700px 917px;
		width: 100%;
	}
}