@font-face {
	font-family: 'alternate_gothic_fs_no_1Rg';
    src: url('./../fonts/AlternateGothicNo1-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'alternate_gothic_fs_no_2Rg';
	src: url('./../fonts/AlternateGothicNo2-webfont.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'alternate_gothic_fs_no_3Rg';
	src: url('./../fonts/AlternateGothicNo3-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} 