﻿@import '../../ClientApp/styles/global-variables.scss';

.modal-container {
	text-align: center;
	background: rgba(0,0,0,.45);
	color: $silverCloudy;
	font-size: ($dp-factor-rem * 2);
	line-height: 1.2;
	font-weight: bold;
	margin: 2px 0 0;

	& > div:not(:first-child) {
		background: rgba(0,0,0,.45);
	}

	& .content-header-title {
		font-family: $alternate-gothic-three-fontFamily;
		font-size: ($dp-factor-rem * 3);
		color: $doveGray;
		text-align: center;
		text-transform: uppercase;
	}

	& .content-header-description {
		font-family: $alternate-gothic-three-fontFamily;
		font-size: ($dp-factor-rem * 2);
		color: $doveGray;
		text-align: center;
	}

	& h1 {
		color: $doveGray;
		font-size: ($dp-factor-rem * 3);
		font-family: $alternate-gothic-three-fontFamily;
		margin-bottom: ($dp-factor * 2.5);
	}

	& .modal-btn-container {
		margin-top: $dp-factor;
	}

	& .select-btn {
		color: $white;
		padding: $dp-factor ($dp-factor * 2.5);
		font-size: ($dp-factor * 2.5);
	}

	& .cancel-btn {
		color: $white;
		padding: $dp-factor ($dp-factor * 2.5);
		font-size: ($dp-factor * 2.5);
	}
}

.modal-title {
	text-align: right;
}

.modal-close-button {
	fill: $white !important;
	cursor: pointer;
}

.winch-modal {
	
	& .winch-name {
		color: $doveGray;
		font-size: ($dp-factor-rem * 2);
		font-family: $alternate-gothic-three-fontFamily;
	}
}

.add-remove-ax-modal {

	& .content-explain {
		font-family: $arial-fontFamily;
		font-size: ($dp-factor-rem * 2);
		text-align: center;
	}

	& .ax-explain {
		font-family: $arial-fontFamily;
		font-size: ($dp-factor-rem * 2);
		text-align: center;
		color: $silverDarkChalice;
	}

	& .add-remove-listing {
		font-family: $arial-fontFamily;
		font-size: ($dp-factor-rem * 1.5);
	}

	& .add-remove-price {
		padding-left: ($dp-factor * 2);
	}
}
