﻿.modal-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
  color: #bababa;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: bold;
  margin: 2px 0 0; }
  .modal-container > div:not(:first-child) {
    background: rgba(0, 0, 0, 0.45); }
  .modal-container .content-header-title {
    font-family: "alternate_gothic_fs_no_3Rg";
    font-size: 1.5rem;
    color: #676767;
    text-align: center;
    text-transform: uppercase; }
  .modal-container .content-header-description {
    font-family: "alternate_gothic_fs_no_3Rg";
    font-size: 1rem;
    color: #676767;
    text-align: center; }
  .modal-container h1 {
    color: #676767;
    font-size: 1.5rem;
    font-family: "alternate_gothic_fs_no_3Rg";
    margin-bottom: 20px; }
  .modal-container .modal-btn-container {
    margin-top: 8px; }
  .modal-container .select-btn {
    color: #fff;
    padding: 8px 20px;
    font-size: 20px; }
  .modal-container .cancel-btn {
    color: #fff;
    padding: 8px 20px;
    font-size: 20px; }

.modal-title {
  text-align: right; }

.modal-close-button {
  fill: #fff !important;
  cursor: pointer; }

.winch-modal .winch-name {
  color: #676767;
  font-size: 1rem;
  font-family: "alternate_gothic_fs_no_3Rg"; }

.add-remove-ax-modal .content-explain {
  font-family: "Arial";
  font-size: 1rem;
  text-align: center; }

.add-remove-ax-modal .ax-explain {
  font-family: "Arial";
  font-size: 1rem;
  text-align: center;
  color: #a9a9a9; }

.add-remove-ax-modal .add-remove-listing {
  font-family: "Arial";
  font-size: 0.75rem; }

.add-remove-ax-modal .add-remove-price {
  padding-left: 16px; }
