﻿@import './../../../styles/global-variables.scss';

.spec-image-container {
	place-content: center space-around;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(85,85,85,.25) 50%,rgba(0,0,0,0) 100%);
	margin-top: ($dp-factor-rem * 2);
}

.spec-group-container {

	@include property-size-calc('padding-bottom', 7);

	& .spec-group-header {
		font-family: $arial-fontFamily;
		@include property-size-calc($dp-factor-rem, 2);
		font-weight: 700;
		color: $ninjaGreen;
		position: static;
		font-size: 1rem;
	}

	& .spec-item-container {
		padding-bottom: 0px;

		& h3 {
			font-weight: bold;
			font-size: 0.75rem;
			font-family: $arial-fontFamily;
		}

		& p {
			color: $gray;
			font-size: 0.75rem;
			font-family: $arial-fontFamily;
		}
	}
}
