﻿@import './../../../styles/global-variables.scss';

.product-detail-sub-nav {
	margin: 0;

	& .tech-type-nav {
	}

	& .product-detail-type-listing {

		& .product-detail-sub-nav-header {
			font-family: $oswald-fontFamily;
			font-size: ($dp-factor-rem * 4);
			text-transform: uppercase;
			color: $black;
			margin: 0 8px 0 0;

			& .header-year {
				color: $silverChalice;
			}
		}

		& .product-detail-type {
			font-family: $oswald-fontFamily;
			font-size: ($dp-factor-rem * 2);
			margin-left: ($dp-factor-rem * 3);
			text-transform: uppercase;
			color: $delta;
			cursor: pointer;
			white-space: nowrap;
			font-weight: 500;
			text-decoration: none;

			&.active {
				color: $black;
			}
		}
	}
}

@media only screen and (max-width: 47.99em) {

	.product-detail-sub-nav {
		.product-detail-type-listing {
			padding-left: 0;

			.product-detail-sub-nav-header {
				font-size: 1rem;
			}

			.product-detail-type {
				font-size: 0.8rem;
			}

			li {
				float: left;
				padding-bottom: $dp-factor;
			}
		}
	}

	.spec-image-container {

		& img {
			max-width: 100%;
		}
	}
}

@media only screen and (min-width: 48em) and (max-width: 61em) {

	.product-detail-sub-nav {
		.product-detail-type-listing {

			.product-detail-sub-nav-header {
				font-size: 1.4rem;
			}

			.product-detail-type {
				font-size: 0.8rem;
			}

			li {
				float: left;
				padding-bottom: $dp-factor;
			}
		}
	}

	.spec-image-container {

		& img {
			max-width: 100%;
		}
	}
}

@media only screen and (min-width: 62em) and (max-width: 74em) {
}