﻿@import './../../styles/global-variables.scss';

.innovations {
	min-height: calc(100vh - 64px);
	max-width: 100%;

	& .row {
		max-width: 100%;
	}


	& .innovations-item {
		background: transparent;

		& .technology-information {
			min-height: 18rem;
		}
	}
}

.inno-technology-listing {
	padding: calc(8px * 3);
	min-height: ($dp-factor-vh * 10.5);

	.technology-info-header {
		& span {
			color: $gray;
			font-size: calc(#{$dp-factor } * 2);
			font-family: $oswald-fontFamily;
			margin: 0;
			font-weight: lighter;
			text-transform: uppercase;
		}
	}

	.inno-heading {
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: 1px solid $mineShaft;
		font-size: calc(#{$dp-factor } * 3.5);
		font-family: $oswald-fontFamily;
		letter-spacing: 0.8px;
		text-rendering: optimizeLegibility;
	}

	.inno-copy {
		color: $silverChalice;
		font-family: Arial;
		padding-top: calc(#{$dp-factor } * 2);
		font-size: calc((#{$dp-factor } * 2) - #{$dp-factor } / 2);
		line-height: calc(#{$dp-factor } * 3);
	}

	.inno-video-link {
		font-family: $oswald-fontFamily;
		color: $silverChalice;
		cursor: pointer;
		font-size: calc((#{$dp-factor } * 2) - #{$dp-factor } / 4);
		position: relative;

		& span {
			position: absolute;
			top: 15px;
			left: 110px;
		}
	}
}


// Carousel configuration parameters
$n: 6;
$item-width: 50rem;
$viewer-distance: 1200px;

// Derived variables
$theta: 2 * 3.141592653589793 / $n;
$apothem: 341.0123365487px;

.inno-carousel {
	padding: 20px;
	perspective: $viewer-distance;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	> * {
		flex: 0 0 auto;
	}

	& span {
		position: absolute;
		top: ($dp-factor * 30.5);
		cursor: pointer;
		z-index: 99;

		&.left-arrow-container {
			left: 22%;
		}

		&.right-arrow-container {
			left: 69%;
		}
	}

	.inno-arrow {
		border: solid $white;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 10px;



		&.left-arrow {
			transform: rotate(135deg);
		}

		&.right-arrow {
			transform: rotate(-45deg);
		}
	}

	figure {
		margin: 0;
		width: $item-width;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		transform-origin: 50% 50% (-$apothem);
		position: relative;
		top: ($dp-factor-rem * 19);
		left: -3%;

		img {
			width: 100%;
			box-sizing: border-box;
			padding: 0 ($dp-factor-rem * 32);
			opacity: 0.9;

			&:not(:first-of-type) {
				position: absolute;
				left: 0;
				top: 0;
				transform-origin: 50% 50% (-$apothem);
			}

			&:not(:first-child) {
				opacity: 0.1;
			}

			@for $i from 2 through $n {
				&:nth-child(#{$i}) {
					transform: rotateY(#{($i - 1) * $theta}rad);
				}
			}
		}
	}

	nav {
		display: flex;
		justify-content: center;
		margin: 20px 0 0;

		button {
			flex: 0 0 auto;
			margin: 0 5px;
			cursor: pointer;
			color: #333;
			background: none;
			border: 1px solid;
			letter-spacing: 1px;
			padding: 5px 10px;
		}
	}
}



@media only screen and (max-width: 47em) {

	.inno-technology-listing {
		.inno-video-link {
			width: 100%;

			& span {
				top: 0;
			}
		}
	}

	.inno-carousel {

		& span {
			top: ($dp-factor * 44);
		}
	}
}

@media only screen and (min-width: 48em) and (max-width: 61em) {

	.inno-carousel {

		& span {

			&.left-arrow-container {
				left: 2%;
			}

			&.right-arrow-container {
				left: 88%;
			}
		}
	}
}

@media only screen and (min-width: 62em) and (max-width: 74em) {

	.inno-technology-listing {

		.technology-info-header {
			& span {
				font-size: calc(#{$dp-factor } * 1.5);
			}
		}

		.inno-heading {
			font-size: calc(#{$dp-factor } * 2.5);
		}

		.inno-copy {
			font-size: calc((#{$dp-factor } * 2) - #{$dp-factor } / 1.8);
		}

		.inno-video-link {
			font-size: calc((#{$dp-factor } * 2) - #{$dp-factor } / 2);
			width: 100%;
			padding-right: ($dp-factor * 3);
		}
	}

	.inno-carousel {

		& span {
			top: ($dp-factor * 31);

			&.left-arrow-container {
				left: 10%;
			}

			&.right-arrow-container {
				left: 79%;
			}
		}
	}
}
