﻿@import './../styles/global-variables.scss';

html {
	max-width: 100%;
}

body {
	margin: 0;
}

.main-container {
	display: flex;
	z-index: 1;
	overflow: hidden;
	position: relative;
	flex-grow: 1;
	height: 100vh;
}

.toolbar-placeholder {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 8px;
	min-height: ($dp-factor * 3);
}

.content-container {
	flex-grow: 1;
	padding: 0;
	margin: ($dp-factor * 8) 0 0 0;
	overflow-y: scroll;
}