﻿@import './../../styles/global-variables.scss';

.carousel-container {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
	max-width: 70vw;
	min-height: ($dp-factor * 62.5);

	.slide-carousel {
		display: flex;
	}
}

.carousel-footer {
	display: flex;

	& div.footer-item {
		width: ($dp-factor-rem * 16);
	}

	.slide-arrow {
		cursor: pointer;
		font-size: 2rem;
		color: #14B6D4;
	}

	.display-carousel-indexing {
		display: flex;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}
}