﻿@import "global-variables.scss";

.flex-prop {
	flex: 1;
}

.flex-grow {
	flex-grow: 1;
}

.width-100 {
	width: 100%;
}

a {
	cursor: pointer;
}

.clearfix {
	clear: both;
}

.display-inline-block {
	display: inline-block !important;
}

.text-align-right {
	text-align: right;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.gry-btn {
	color: $white;
	font-size: ($dp-factor-rem * 2);
	text-transform: uppercase;
	font-family: 'alternate_gothic_fs_no_2Rg';
	border: 1px solid #a5a5a5;
	background: rgb(140,140,140); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(140,140,140,1) 0%, rgba(101,101,101,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(140,140,140,1) 0%,rgba(101,101,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(140,140,140,1) 0%,rgba(101,101,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	cursor: pointer;
	padding: ($dp-factor / 2) ($dp-factor * 4);
	margin: 0;
}

.green-btn {
	color: $white;
	font-size: ($dp-factor-rem * 2);
	font-family: 'alternate_gothic_fs_no_3Rg';
	text-transform: uppercase;
	padding: ($dp-factor * 1.5) ($dp-factor / 2.5);
	background: rgb(101,204,51); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(101,204,51,1) 0%, rgba(34,144,11,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(101,204,51,1) 0%,rgba(34,144,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(101,204,51,1) 0%,rgba(34,144,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: none;
}

.display-table {
	display: table;
}

.display-table-row {
	display: table-row;
}

.display-table-cell {
	display: table-cell;
}

.display-inline-table-li {
	display: inline-table;
}

::-webkit-scrollbar {
	width: $dp-factor;
	background: lightgray;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,255,1);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	border-radius: $dp-factor;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background: $doveGray;
} 