﻿$oswald-fontFamily: 'Oswald',sans-serif;
$arial-fontFamily: 'Arial';
$materal-ui-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
$alternate-gothic-three-fontFamily: "alternate_gothic_fs_no_3Rg";
$alternate-gothic-two-fontFamily: "alternate_gothic_fs_no_2Rg";

$ninjaGreen: #66cc33;
$greenApple: #4CBA41;
$harlequinGreen: #3c0;
$atlantis-light: #71e03a;
$limeade: #52b901;
$alto: #dadada;
$delta: #a7a8a6;
$white: #fff;
$black: #000;
$silver: #ccc;
$mineShaft: #363636;
$bud: #acadab;
$silverChalice: #a3a3a3;
$silverDarkChalice: #a9a9a9;
$gray: #878181;
$iron: #dddee0;
$boulder: #7D7D7D;
$gray: #888;
$openGray: #808080;
$doveGray: #676767;
$silverCloudy: #bababa;
$steelGray: #c0c0c0;
$boulder: #7c7c7c;

$dp-factor: 8px;
$dp-factor-vw: 8vw;
$dp-factor-vh: 8vh;
$dp-factor-em: 0.5em;
$dp-factor-rem: 0.5rem;

@mixin property-size-calc($cssProp, $factor) {
	#{$cssProp}: calc(#{$dp-factor} * #{$factor});
}

%material-ui-style-label {
	color: rgba(0, 0, 0, 0.54);
	padding: 0;
	font-size: calc(#{$dp-factor-rem } * 2);
	font-family: $materal-ui-fontFamily;
	line-height: 1;
}