﻿@import './../../../styles/global-variables.scss';

.tech-sub-nav {
	margin: 0;

	& .technology-sub-nav-header {
		color: $mineShaft;
		font-family: $oswald-fontFamily;
		font-size: calc((#{$dp-factor } * 4) + (#{$dp-factor } / 2));
		margin: calc(#{$dp-factor } * 1) 0 calc(#{$dp-factor } / 4) calc(#{$dp-factor } * 3);
		letter-spacing: .8px;
	}

	& .tech-type-nav {
		padding-bottom: calc(#{$dp-factor } * 1);

		& ul {
			list-style-type: none;
			margin: 0;
			text-transform: uppercase;
			overflow: hidden;
			padding: 0;
		}

		& a {
			font-family: $oswald-fontFamily;
			font-weight: bold;
			color: $bud;
			margin: calc(#{$dp-factor } * 4) 0 0 calc(#{$dp-factor } * 3);
			font-size: calc((#{$dp-factor} * 2) - (#{$dp-factor} / 2));
			text-decoration: none;
			letter-spacing: .8px;

			&.active {
				color: $mineShaft;
			}
		}
	}
}

@media only screen and (min-width: 48em) and (max-width: 61em) {
	.tech-sub-nav {
		& .technology-sub-nav-header {
			font-size: calc(#{$dp-factor } * 2);
		}

		& .tech-type-nav {
			padding: 0;

			& ul {
			}

			& a {
				font-size: calc(#{$dp-factor} * 1);
			}
		}
	}
}

@media only screen and (max-width: 47em) {
	.tech-sub-nav {
		& .technology-sub-nav-header {
			font-size: calc(#{$dp-factor } * 2);
			margin: calc(#{$dp-factor } * 1) calc(#{$dp-factor } * 1) calc(#{$dp-factor } / 4) calc(#{$dp-factor } * 3);
		}

		& .tech-type-nav {
			padding: 0;

			& a {
				font-size: calc(#{$dp-factor} * 1);
				margin: 0;
			}
		}
	}

	& .tech-type-listing {
		display: flex;

		& > li:first-child {
			flex: 0;
			display: block;
		}

		& > li:not(:first-child) {
			flex: 1;
			display: block;
		}
	}
}