﻿@import './../../../styles/global-variables.scss';

.technology-landing {
	width: 100%;
	height: 91%;

	& img {
		text-align: center;
		width: 100%;
	}

	& .technology-container {

		& .header {
			max-width: 100%;

			& .tech-header-txt {
				font-family: $oswald-fontFamily;
				font-size: calc(#{$dp-factor } * 3);
				color: $silverChalice;
				font-weight: 500;
				padding: 0 calc(#{$dp-factor } * 4);
			}
		}


		& .technology-body {
			margin: calc(#{$dp-factor } * 4) 0;
		}
	}

	.technology-card {
		min-height: ($dp-factor * 32.5);

		& .technology-card-header {
			color: $ninjaGreen;
			font-weight: normal;
			text-rendering: optimizeLegibility;
			font-size: calc(#{$dp-factor } * 3);
			font-family: $oswald-fontFamily;
		}

		& .technology-card-description {
			color: $silverChalice;
			font-weight: normal;
			text-rendering: optimizeLegibility;
			font-size: calc(#{$dp-factor } * 2);
			font-family: $arial-fontFamily;
			min-height: calc(#{$dp-factor } * 12);
		}
	}
}